<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Parcel Sender</title>
</head>
<body>
<div *ngIf="loggedIn()" [hidden] = "!isLoading" class="loader">Loading...</div>
<div *ngIf="loggedIn()" [hidden]="submitted || isLoading || serviceProviderSelected">
<div class="container">
    <div class="stepwizard col-md-offset-3 ">
        <div class="stepwizard-row setup-panel">
            <div class="stepwizard-step">
                <a (click)="segment=1" type="button" [class]="class1" >1</a>
                <p style="background-color: white">Sender<br>Information</p>
            </div>
            <div class="stepwizard-step">
                <a (click)="segment=2; class2='btn btn-primary btn-circle'" type="button" [class]="class2" >2</a>
                <p style="background-color: white">Receiver<br>Information</p>
            </div>
            <div class="stepwizard-step">
                <a (click)="segment=3; class3='btn btn-primary btn-circle'" type="button" [class]="class3" >3</a>
                <p style="background-color: white">Current<br>Address</p>
            </div>
            <div class="stepwizard-step">
                <a (click)="segment=4; class4='btn btn-primary btn-circle'" type="button" [class]="class4" >4</a>
                <p style="background-color: white">Delivery<br>Address</p>
            </div>
            <div class="stepwizard-step">
                <a (click)="segment=5; class5='btn btn-primary btn-circle'" type="button" [class]="class5" >5</a>
                <p style="background-color: white">Parcel<br>Details</p>
            </div>
        </div>
    </div>
    <div class="form-style-10 inline">
        <h1>Details Needed<span>Please provide the following details to send a parcel!</span></h1>
        <form (ngSubmit) = "onSubmit()" #parcelSenderDetailsForm="ngForm">
            <div [hidden]="segment !== 1">
                <div class="section"><span>1</span>Sender Information</div>
                <div class="inner-wrap">
                    <label>Your Full Name <input type="text" placeholder="Name" [(ngModel)]="model.senderName" required ngControl="senderName" [ngModelOptions]="{standalone: true}"/>
                    </label>
                    <label>Phone Number <input type="text" placeholder="(123)-456-7890" [(ngModel)]="model.senderPhone" required [ngModelOptions]="{standalone: true}"/></label>
                </div>
                <button type="button" class="btn btn-primary pull-right" (click)="segment=2; class2='btn btn-primary btn-circle'">Next</button>
            </div>
            <div [hidden]="segment !== 2">
                <div class="section"><span>2</span>Receiver Information</div>
                <div class="inner-wrap">
                    <label>Full Name <input type="text" placeholder="Name" [(ngModel)]="model.receiverName" required ngControl="receiverName" [ngModelOptions]="{standalone: true}"/></label>
                    <label>Email Address <input type="email" placeholder="abc@example.com" [(ngModel)]="model.receiverEmail" required [ngModelOptions]="{standalone: true}"/></label>
                    <label>Phone Number <input type="text" placeholder="(123)-456-7890" [(ngModel)]="model.receiverPhone" required [ngModelOptions]="{standalone: true}"/></label>
                </div>
                <button type="button" class="btn btn-primary pull-left" (click)="segment=1; class2='btn btn-default btn-circle'">Previous</button>
                <button type="button" class="btn btn-primary pull-right" (click)="segment=3; class3='btn btn-primary btn-circle'">Next</button>
            </div>

            <div [hidden]="segment !== 3">
                <div class="section"><span>3</span>Enter Current Address</div>
                <form (ngSubmit) = "geolocate('Current Address')" #currentAddress="ngForm">
                    <div>
                        <input id="currentaddressautocomplete"  placeholder="Enter your address" type="text">
                    </div>
                    <div *ngIf="loggedIn()" [hidden] = "!isCurrentAddressLoading" class="loader">Loading...</div>
                    <div  *ngIf = "model.currentCity" class="inner-wrap">
                        <label>Address line 1 <input type="text" [(ngModel)]="model.currentAddreddaddressLine1" [ngModelOptions]="{standalone: true}"></label>
                        <label>Address line 2 <input type="text" [(ngModel)]="model.currentAddreddaddressLine2" [ngModelOptions]="{standalone: true}"></label>
                        <label>State <input type="text" [(ngModel)]="model.currentState" required [ngModelOptions]="{standalone: true}"></label>
                        <label>City <input type = "text" [(ngModel)]="model.currentCity" required [ngModelOptions]="{standalone: true}"></label>
                        <label>Zip <input type="number" placeholder="12345" [(ngModel)]="model.currentZip" [ngModelOptions]="{standalone: true}"></label>
                    </div>
                    <input [hidden] = "true" type="submit" [disabled]="!currentAddress.form.valid"/>
                </form>
                <button type="button" class="btn btn-primary pull-left" (click)="segment=2; class3='btn btn-default btn-circle'">Previous</button>
                <button type="button" class="btn btn-primary pull-right" (click)="segment=4; class4='btn btn-primary btn-circle'">Next</button>
            </div>

            <div [hidden]="segment !== 4">
                <div class="section"><span>4</span>Enter Delivery Address</div>

                <form (ngSubmit) = "geolocate('Delivery Address')" #deliveryAddress="ngForm">
                    <div>
                        <input id="deliveryaddressautocomplete"  placeholder="Enter your address" type="text">
                    </div>
                    <div *ngIf="loggedIn()" [hidden] = "!isDeliveryAddressLoading" class="loader">Loading...</div>
                    <div  *ngIf = "model.deliveryCity" class="inner-wrap">
                        <label>Address line 1 <input type="text" [(ngModel)]="model.deliveryAddreddaddressLine1" [ngModelOptions]="{standalone: true}"></label>
                        <label>Address line 2 <input type="text" [(ngModel)]="model.deliveryAddreddaddressLine2" [ngModelOptions]="{standalone: true}"></label>
                        <label>State <input type="text" [(ngModel)]="model.deliveryState" required [ngModelOptions]="{standalone: true}"></label>
                        <label>City <input type = "text" [(ngModel)]="model.deliveryCity" required [ngModelOptions]="{standalone: true}"></label>
                        <label>Zip <input type="number" placeholder="12345" [(ngModel)]="model.deliveryZip" [ngModelOptions]="{standalone: true}"></label>
                    </div>
                    <input [hidden] = "true" type="submit" [disabled]="!deliveryAddress.form.valid"/>
                </form>
                <button type="button" class="btn btn-primary pull-left" (click)="segment=3; class4='btn btn-default btn-circle'">Previous</button>
                <button type="button" class="btn btn-primary pull-right" (click)="segment=5; class5='btn btn-primary btn-circle'">Next</button>
            </div>

            <div [hidden]="segment !== 5">
                <div class="section"><span>5</span>Parcel Details</div>
                <div class="inner-wrap">
                    <label>Delivery Date Range </label>
                    <label>From <input type="date" placeholder="YYYY-MM-DD" [(ngModel)]="model.startDeliveryDate" required [ngModelOptions]="{standalone: true}"/></label>
                    <label> To
                        <input type="date" placeholder="YYYY-MM-DD" [(ngModel)]="model.endDeliveryDate" required [ngModelOptions]="{standalone: true}"/></label>
                    <label>Parcel Weight <input type="number" placeholder="in pound" [(ngModel)]="model.parcelWeight" required [ngModelOptions]="{standalone: true}"></label>
                    <label>Parcel Dimensions </label>
                    <label>Height (approx.) <input type="number" placeholder="in cm" [(ngModel)]="model.parcelHeight" required [ngModelOptions]="{standalone: true}"></label>
                    <label>Length (approx.) <input type="number" placeholder="in cm" [(ngModel)]="model.parcelLength" required [ngModelOptions]="{standalone: true}"></label>
                    <label>Width (approx.) <input type="number" placeholder="in cm" [(ngModel)]="model.parcelWidth" required [ngModelOptions]="{standalone: true}"></label>
                    <label>Disclosure <textarea [(ngModel)]="model.parcelDisclosure" required [ngModelOptions]="{standalone: true}"></textarea></label>
                </div>
                <div class="submit-button pull-right">
                    <input type="submit" name="Submit"/>
                </div>
                <button type="button" class="btn btn-primary pull-left" (click)="segment=4; class5='btn btn-default btn-circle'">Previous</button>
            </div>

            <!--<input [(ngModel)] = "returnTrip" type="checkbox" name="field7" [ngModelOptions]="{standalone: true}"><b>Look parcel request for return trip.</b>-->


            <!--<div [hidden]="!returnTrip" class="section"><span>5</span>Enter Itinerary Cities to Current</div>-->

            <!--<form [hidden]="!returnTrip">-->
            <!--<div>-->
            <!--<input id="itinerarycitytocurrentautocomplete" [(ngModel)]="searchAddress"  placeholder="Add City in Return Itinerary" type="text" [ngModelOptions]="{standalone: true}">-->
            <!--</div>-->
            <!--<div>-->
            <!--<label>Parcel Pickup Date <input type="date" placeholder="YYYY-MM-DD" [(ngModel)]="itineraryToCurrent.pickupDate" (change)="addItineraryToCurrent()"  #date [ngModelOptions]="{standalone: true}"/></label>-->
            <!--</div>-->
            <!--<div *ngIf = "model.itineraryCitiesToCurrent">-->
            <!--<h4>Travel Itinerary to Return Trip</h4>-->
            <!--<ul *ngFor="let city of model.itineraryCitiesToCurrent">-->
            <!--<li >{{city.city}}, {{city.state}} - {{city.pickupDate}}</li>-->
            <!--</ul>-->
            <!--</div>-->
            <!--</form>-->
        </form>
    </div>
    <div class="inline" *ngIf="model.currentCity" id="map-div"><div id="map"></div></div>
</div>
</div>

<div  *ngIf="loggedIn()" class="form-style-10" [hidden]="!submitted || isLoading || serviceProviderSelected">
    <div id="wrapper" style="text-align: center" *ngIf="requests" [hidden]="!showDetails">
        <div id="yourdiv" style="display: inline-block; padding: 20px; background-color: #279636; width: 100%; font-size: 30px; color: white; margin: 15px">Matches</div>
    </div>
    <div *ngIf="requests" [hidden]="showDetails">
        <div class = "alert alert-info">
            Parcel sending request submitted and No Suitable Service Provider Match Found.
        </div>
        <div class = "alert alert-danger">
            Be patience, a service provider may request you.
        </div>
        <button class="resubmit-button" (click)="initializeFlag()">Submit Another Parcel Request</button>
    </div>
</div>

<div *ngIf="loggedIn()" class="matches" [hidden]="!submitted || isLoading || serviceProviderSelected" >
    <ul *ngFor="let request of requests | paginate: { itemsPerPage: 5, currentPage: p2} ">
        <panel *ngIf = "request.status" [title]="request.serviceProvider.journeyDate + ': ' +request.currentCity + '-' + request.deliveryCity + '-' + request.status"
               (click)="mapLoadAssignedParcel(request._id + 'parcel-sender', request.currentAddreddaddressLine1 + ' ' + request.currentAddreddaddressLine2 + ' ' + request.currentCity
                       + ' ' + request.currentState + ' ' + request.currentZip, request.serviceProvider.currentAddreddaddressLine1 + ' ' + request.serviceProvider.currentAddreddaddressLine2 + ' ' + request.serviceProvider.currentCity
                       + ' ' + request.serviceProvider.currentState + ' ' + request.serviceProvider.currentZip, request.deliveryAddreddaddressLine1 + ' ' + request.deliveryAddreddaddressLine2 + ' ' + request.deliveryCity
                       + ' ' + request.deliveryState + ' ' + request.deliveryZip, request.serviceProvider.destinationAddreddaddressLine1 + ' ' + request.serviceProvider.destinationAddreddaddressLine2 + ' ' + request.serviceProvider.destinationCity
                       + ' ' + request.serviceProvider.destinationState + ' ' + request.serviceProvider.destinationZip,  'Title')">
            <div class="match">
                <div class="form-style-10 match-content">
                    <h3>Parcel Sending Details:</h3>
                    <h4 *ngIf = "request.status">{{request.serviceProvider.journeyDate}}: {{request.currentCity}}-{{request.deliveryCity}}-{{request.status}}</h4>
                    <div class="card text-xs-center">
                        <div class="card-header">
                            <ul class="nav nav-tabs card-header-tabs">
                                <li class="nav-item">
                                    <a class="nav-link active" (click)="card_tab=1; mapLoadAssignedParcel(request._id + 'all-parcel-request', request.currentAddreddaddressLine1 + ' ' + request.currentAddreddaddressLine2 + ' ' + request.currentCity
                       + ' ' + request.currentState + ' ' + request.currentZip, request.serviceProvider.currentAddreddaddressLine1 + ' ' + request.serviceProvider.currentAddreddaddressLine2 + ' ' + request.serviceProvider.currentCity
                       + ' ' + request.serviceProvider.currentState + ' ' + request.serviceProvider.currentZip, request.deliveryAddreddaddressLine1 + ' ' + request.deliveryAddreddaddressLine2 + ' ' + request.deliveryCity
                       + ' ' + request.deliveryState + ' ' + request.deliveryZip, request.serviceProvider.destinationAddreddaddressLine1 + ' ' + request.serviceProvider.destinationAddreddaddressLine2 + ' ' + request.serviceProvider.destinationCity
                       + ' ' + request.serviceProvider.destinationState + ' ' + request.serviceProvider.destinationZip,  'Provider')">Parcel Details</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" (click)="card_tab=2; mapLoadAssignedParcel(request._id + 'all-parcel-request', request.currentAddreddaddressLine1 + ' ' + request.currentAddreddaddressLine2 + ' ' + request.currentCity
                       + ' ' + request.currentState + ' ' + request.currentZip, request.serviceProvider.currentAddreddaddressLine1 + ' ' + request.serviceProvider.currentAddreddaddressLine2 + ' ' + request.serviceProvider.currentCity
                       + ' ' + request.serviceProvider.currentState + ' ' + request.serviceProvider.currentZip, request.deliveryAddreddaddressLine1 + ' ' + request.deliveryAddreddaddressLine2 + ' ' + request.deliveryCity
                       + ' ' + request.deliveryState + ' ' + request.deliveryZip, request.serviceProvider.destinationAddreddaddressLine1 + ' ' + request.serviceProvider.destinationAddreddaddressLine2 + ' ' + request.serviceProvider.destinationCity
                       + ' ' + request.serviceProvider.destinationState + ' ' + request.serviceProvider.destinationZip,  'Provider')">Provider</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" (click)="card_tab=3; mapLoadAssignedParcel(request._id + 'all-parcel-request', request.currentAddreddaddressLine1 + ' ' + request.currentAddreddaddressLine2 + ' ' + request.currentCity
                       + ' ' + request.currentState + ' ' + request.currentZip, request.serviceProvider.currentAddreddaddressLine1 + ' ' + request.serviceProvider.currentAddreddaddressLine2 + ' ' + request.serviceProvider.currentCity
                       + ' ' + request.serviceProvider.currentState + ' ' + request.serviceProvider.currentZip, request.deliveryAddreddaddressLine1 + ' ' + request.deliveryAddreddaddressLine2 + ' ' + request.deliveryCity
                       + ' ' + request.deliveryState + ' ' + request.deliveryZip, request.serviceProvider.destinationAddreddaddressLine1 + ' ' + request.serviceProvider.destinationAddreddaddressLine2 + ' ' + request.serviceProvider.destinationCity
                       + ' ' + request.serviceProvider.destinationState + ' ' + request.serviceProvider.destinationZip,  'Receiver')">Receiver</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div [hidden]="card_tab!==1">
                        <div class="panel panel-success">
                            <div class="panel-heading">Parcel Description :</div>
                            <div class="panel-body"><label>{{request.parcelDisclosure}}</label></div>
                        </div>
                        <div class="panel panel-success">
                            <div class="panel-heading">Parcel Dimensions :</div>
                            <div class="panel-body">
                                <label>Weight: {{request.parcelWeight}} pounds</label>
                                <label>Height: {{request.parcelHeight}} cm.</label>
                                <label>Length:{{request.parcelLength}} cm.</label>
                                <label>Width: {{request.parcelWidth}} cm.</label>
                            </div>
                        </div>
                        <div class="panel panel-success">
                            <div class="panel-heading">Pick up location :</div>
                            <div class="panel-body">
                                <label>{{request.currentAddreddaddressLine1}} {{request.currentAddreddaddressLine2}}</label>
                                <label>City: {{request.currentCity}}</label>
                                <label *ngIf="request.SenderDistanceAndDuration">Distance (from Your Current Address): {{request.SenderDistanceAndDuration.distance}}</label>
                                <label *ngIf="request.SenderDistanceAndDuration">Time: {{request.SenderDistanceAndDuration.duration}}</label>
                            </div>
                        </div>
                        <div class="panel panel-success">
                            <div class="panel-heading">Delivery location :</div>
                            <div class="panel-body">
                                <label>{{request.deliveryAddreddaddressLine1}} {{request.deliveryAddreddaddressLine2}}</label>
                                <label>City: {{request.deliveryCity}}</label>
                                <label *ngIf="request.ReceiverDistanceAndDuration">Distance (from Your Destination Address): {{request.ReceiverDistanceAndDuration.distance}}</label>
                                <label *ngIf="request.ReceiverDistanceAndDuration">Time: {{request.ReceiverDistanceAndDuration.duration}}</label>
                            </div>
                        </div>
                    </div>
                    <div [hidden]="card_tab!==2">
                        <div class="panel panel-success">
                            <div class="panel-heading">Personal Details :</div>
                            <div class="panel-body">
                                <label>Name: {{request.serviceProvider.name}}</label>
                                <label>Email: {{request.serviceProvider.email}}</label>
                                <label>Contact Number: {{request.serviceProvider.phone}}</label>
                            </div>
                        </div>
                        <div class="panel panel-success">
                            <div class="panel-heading">Provider Address :</div>
                            <div class="panel-body">
                                <label>{{request.serviceProvider.destinationAddreddaddressLine1}} {{request.destinationAddreddaddressLine2}}</label>
                                <label>City: {{request.serviceProvider.destinationCity}}</label>
                                <label *ngIf="request.SenderDistanceAndDuration">Distance (from Your Current Address): {{request.SenderDistanceAndDuration.distance}}</label>
                                <label *ngIf="request.SenderDistanceAndDuration">Time: {{request.SenderDistanceAndDuration.duration}}</label>
                            </div>
                        </div>
                    </div>
                    <div [hidden]="card_tab!==3">
                        <div class="panel panel-success">
                            <div class="panel-heading">Personal Details :</div>
                            <div class="panel-body">
                                <label>Name: {{request.receiverName}}</label>
                                <label>Email: {{request.receiverEmail}}</label>
                                <label>Contact Number: {{request.receiverPhone}}</label>
                            </div>
                        </div>
                        <div class="panel panel-success">
                            <div class="panel-heading">Receiver Address :</div>
                            <div class="panel-body">
                                <label>{{request.deliveryAddreddaddressLine1}} {{request.deliveryAddreddaddressLine2}}</label>
                                <label>City: {{request.deliveryCity}}</label>
                                <label *ngIf="request.ReceiverDistanceAndDuration">Distance (from Your Destination Address): {{request.ReceiverDistanceAndDuration.distance}}</label>
                                <label *ngIf="request.ReceiverDistanceAndDuration">Time: {{request.ReceiverDistanceAndDuration.duration}}</label>
                            </div>
                        </div>
                    </div>
                    <button class="resubmit-button" (click)="selectProvider(request)">Select</button>
                </div>
                <div class="flex-item" style="margin: 10px">
                    <h4 style="background-color: #0273D4; color: white; padding: 5px; width: 500px">{{mapAddress}}</h4>
                    <div id="{{request._id}}parcel-sender" style="height: 400px; background-color: white; margin-right: 20%; padding: 5px"></div>
                </div>
            </div>
        </panel>
    </ul>
    <pagination-controls (pageChange)="p2 = $event" #api>
    </pagination-controls>
</div>

<div  *ngIf="loggedIn()" class="form-style-10" [hidden]="!serviceProviderSelected || !submitted || isLoading">
    <h2>You have selected the following service provider</h2>
    <div *ngIf="requests" >
        <ul *ngFor="let request of requests " class="form-style-10-assign">
            <div class="match">
                <div class="form-style-10 match-content">
                    <h3>Parcel Sending Details:</h3>
                    <h4 *ngIf = "request.status">{{request.serviceProvider.journeyDate}}: {{request.currentCity}}-{{request.deliveryCity}}-{{request.status}}</h4>
                    <div class="card text-xs-center">
                        <div class="card-header">
                            <ul class="nav nav-tabs card-header-tabs">
                                <li class="nav-item">
                                    <a class="nav-link active" (click)="card_tab=1; mapLoadAssignedParcel(request._id + 'all-parcel-request', request.currentAddreddaddressLine1 + ' ' + request.currentAddreddaddressLine2 + ' ' + request.currentCity
                       + ' ' + request.currentState + ' ' + request.currentZip, request.serviceProvider.currentAddreddaddressLine1 + ' ' + request.serviceProvider.currentAddreddaddressLine2 + ' ' + request.serviceProvider.currentCity
                       + ' ' + request.serviceProvider.currentState + ' ' + request.serviceProvider.currentZip, request.deliveryAddreddaddressLine1 + ' ' + request.deliveryAddreddaddressLine2 + ' ' + request.deliveryCity
                       + ' ' + request.deliveryState + ' ' + request.deliveryZip, request.serviceProvider.destinationAddreddaddressLine1 + ' ' + request.serviceProvider.destinationAddreddaddressLine2 + ' ' + request.serviceProvider.destinationCity
                       + ' ' + request.serviceProvider.destinationState + ' ' + request.serviceProvider.destinationZip,  'Provider')">Parcel Details</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" (click)="card_tab=2; mapLoadAssignedParcel(request._id + 'all-parcel-request', request.currentAddreddaddressLine1 + ' ' + request.currentAddreddaddressLine2 + ' ' + request.currentCity
                       + ' ' + request.currentState + ' ' + request.currentZip, request.serviceProvider.currentAddreddaddressLine1 + ' ' + request.serviceProvider.currentAddreddaddressLine2 + ' ' + request.serviceProvider.currentCity
                       + ' ' + request.serviceProvider.currentState + ' ' + request.serviceProvider.currentZip, request.deliveryAddreddaddressLine1 + ' ' + request.deliveryAddreddaddressLine2 + ' ' + request.deliveryCity
                       + ' ' + request.deliveryState + ' ' + request.deliveryZip, request.serviceProvider.destinationAddreddaddressLine1 + ' ' + request.serviceProvider.destinationAddreddaddressLine2 + ' ' + request.serviceProvider.destinationCity
                       + ' ' + request.serviceProvider.destinationState + ' ' + request.serviceProvider.destinationZip,  'Provider')">Provider</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" (click)="card_tab=3; mapLoadAssignedParcel(request._id + 'all-parcel-request', request.currentAddreddaddressLine1 + ' ' + request.currentAddreddaddressLine2 + ' ' + request.currentCity
                       + ' ' + request.currentState + ' ' + request.currentZip, request.serviceProvider.currentAddreddaddressLine1 + ' ' + request.serviceProvider.currentAddreddaddressLine2 + ' ' + request.serviceProvider.currentCity
                       + ' ' + request.serviceProvider.currentState + ' ' + request.serviceProvider.currentZip, request.deliveryAddreddaddressLine1 + ' ' + request.deliveryAddreddaddressLine2 + ' ' + request.deliveryCity
                       + ' ' + request.deliveryState + ' ' + request.deliveryZip, request.serviceProvider.destinationAddreddaddressLine1 + ' ' + request.serviceProvider.destinationAddreddaddressLine2 + ' ' + request.serviceProvider.destinationCity
                       + ' ' + request.serviceProvider.destinationState + ' ' + request.serviceProvider.destinationZip,  'Receiver')">Receiver</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div [hidden]="card_tab!==1">
                        <div class="panel panel-success">
                            <div class="panel-heading">Parcel Description :</div>
                            <div class="panel-body"><label>{{request.parcelDisclosure}}</label></div>
                        </div>
                        <div class="panel panel-success">
                            <div class="panel-heading">Parcel Dimensions :</div>
                            <div class="panel-body">
                                <label>Weight: {{request.parcelWeight}} pounds</label>
                                <label>Height: {{request.parcelHeight}} cm.</label>
                                <label>Length:{{request.parcelLength}} cm.</label>
                                <label>Width: {{request.parcelWidth}} cm.</label>
                            </div>
                        </div>
                        <div class="panel panel-success">
                            <div class="panel-heading">Pick up location :</div>
                            <div class="panel-body">
                                <label>{{request.currentAddreddaddressLine1}} {{request.currentAddreddaddressLine2}}</label>
                                <label>City: {{request.currentCity}}</label>
                                <label *ngIf="request.SenderDistanceAndDuration">Distance (from Your Current Address): {{request.SenderDistanceAndDuration.distance}}</label>
                                <label *ngIf="request.SenderDistanceAndDuration">Time: {{request.SenderDistanceAndDuration.duration}}</label>
                            </div>
                        </div>
                        <div class="panel panel-success">
                            <div class="panel-heading">Delivery location :</div>
                            <div class="panel-body">
                                <label>{{request.deliveryAddreddaddressLine1}} {{request.deliveryAddreddaddressLine2}}</label>
                                <label>City: {{request.deliveryCity}}</label>
                                <label *ngIf="request.ReceiverDistanceAndDuration">Distance (from Your Destination Address): {{request.ReceiverDistanceAndDuration.distance}}</label>
                                <label *ngIf="request.ReceiverDistanceAndDuration">Time: {{request.ReceiverDistanceAndDuration.duration}}</label>
                            </div>
                        </div>
                    </div>
                    <div [hidden]="card_tab!==2">
                        <div class="panel panel-success">
                            <div class="panel-heading">Personal Details :</div>
                            <div class="panel-body">
                                <label>Name: {{request.serviceProvider.name}}</label>
                                <label>Email: {{request.serviceProvider.email}}</label>
                                <label>Contact Number: {{request.serviceProvider.phone}}</label>
                            </div>
                        </div>
                        <div class="panel panel-success">
                            <div class="panel-heading">Provider Address :</div>
                            <div class="panel-body">
                                <label>{{request.serviceProvider.destinationAddreddaddressLine1}} {{request.destinationAddreddaddressLine2}}</label>
                                <label>City: {{request.serviceProvider.destinationCity}}</label>
                                <label *ngIf="request.SenderDistanceAndDuration">Distance (from Your Current Address): {{request.SenderDistanceAndDuration.distance}}</label>
                                <label *ngIf="request.SenderDistanceAndDuration">Time: {{request.SenderDistanceAndDuration.duration}}</label>
                            </div>
                        </div>
                    </div>
                    <div [hidden]="card_tab!==3">
                        <div class="panel panel-success">
                            <div class="panel-heading">Personal Details :</div>
                            <div class="panel-body">
                                <label>Name: {{request.receiverName}}</label>
                                <label>Email: {{request.receiverEmail}}</label>
                                <label>Contact Number: {{request.receiverPhone}}</label>
                            </div>
                        </div>
                        <div class="panel panel-success">
                            <div class="panel-heading">Receiver Address :</div>
                            <div class="panel-body">
                                <label>{{request.deliveryAddreddaddressLine1}} {{request.deliveryAddreddaddressLine2}}</label>
                                <label>City: {{request.deliveryCity}}</label>
                                <label *ngIf="request.ReceiverDistanceAndDuration">Distance (from Your Destination Address): {{request.ReceiverDistanceAndDuration.distance}}</label>
                                <label *ngIf="request.ReceiverDistanceAndDuration">Time: {{request.ReceiverDistanceAndDuration.duration}}</label>
                            </div>
                        </div>
                    </div>
                    <button class="resubmit-button" (click)="initializeFlag()">Send Another Parcel Request</button>
                </div>
                <div class="flex-item" style="margin: 10px">
                    <h4 style="background-color: #0273D4; color: white; padding: 5px; width: 500px">{{mapAddress}}</h4>
                    <div id="{{request._id}}parcel-sender" style="height: 400px; background-color: white; margin-right: 20%; padding: 5px"></div>
                </div>
            </div>
        </ul>
    </div>
</div>
</body>
</html>