<main id="main" *ngIf="loggedIn()">
    <div [hidden]="!showDetails">
        <ul *ngFor="let request of assignedServiceRequests | paginate: { itemsPerPage: 5, currentPage: p2 }"  >
            <div>
                <panel [title]="request.serviceProvider.journeyDate + '-' +request.currentCity + '-' + request.deliveryCity"
                       (click)="mapLoadAssignedService(request._id, request.currentAddreddaddressLine1 + ' ' + request.currentAddreddaddressLine2 + ' ' + request.currentCity
                   + ' ' + request.currentState + ' ' + request.currentZip, request.serviceProvider.currentAddreddaddressLine1 + ' ' + request.serviceProvider.currentAddreddaddressLine2 + ' ' + request.serviceProvider.currentCity
                   + ' ' + request.serviceProvider.currentState + ' ' + request.serviceProvider.currentZip, request.deliveryAddreddaddressLine1 + ' ' + request.deliveryAddreddaddressLine2 + ' ' + request.deliveryCity
                   + ' ' + request.deliveryState + ' ' + request.deliveryZip, request.serviceProvider.destinationAddreddaddressLine1 + ' ' + request.serviceProvider.destinationAddreddaddressLine2 + ' ' + request.serviceProvider.destinationCity
                   + ' ' + request.serviceProvider.destinationState + ' ' + request.serviceProvider.destinationZip,  request.status)" >
                    <div class="form-style-10" >
                        <h3>Delivery Service Details:</h3>
                        <h4 >{{request.serviceProvider.journeyDate}}-{{request.currentCity}}-{{request.deliveryCity}}</h4>
                        <div class="card text-xs-center">
                            <div class="card-header">
                                <ul class="nav nav-tabs card-header-tabs">
                                    <li class="nav-item">
                                        <a class="nav-link active" (click)="card_tab=1">Parcel Details</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" (click)="card_tab=2">Sender</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" (click)="card_tab=3">Receiver</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div [hidden]="card_tab!==1">
                            <div class="panel panel-success">
                                <div class="panel-heading">Parcel Description :</div>
                                <div class="panel-body"><label>{{request.parcelDisclosure}}</label></div>
                            </div>
                            <div class="panel panel-success">
                                <div class="panel-heading">Parcel Dimensions :</div>
                                <div class="panel-body">
                                    <label>Weight: {{request.parcelWeight}} pounds</label>
                                    <label>Height: {{request.parcelHeight}} cm.</label>
                                    <label>Length:{{request.parcelLength}} cm.</label>
                                    <label>Width: {{request.parcelWidth}} cm.</label>
                                </div>
                            </div>
                            <div class="panel panel-success">
                                <div class="panel-heading">Pick up location :</div>
                                <div class="panel-body">
                                    <label>{{request.currentAddreddaddressLine1}} {{request.currentAddreddaddressLine2}}</label>
                                    <label>City: {{request.currentCity}}</label>
                                    <label *ngIf="request.SenderDistanceAndDuration">Distance (from Your Current Address): {{request.SenderDistanceAndDuration.distance}}</label>
                                    <label *ngIf="request.SenderDistanceAndDuration">Time: {{request.SenderDistanceAndDuration.duration}}</label>
                                </div>
                            </div>
                            <div class="panel panel-success">
                                <div class="panel-heading">Delivery location :</div>
                                <div class="panel-body">
                                    <label>{{request.deliveryAddreddaddressLine1}} {{request.deliveryAddreddaddressLine2}}</label>
                                    <label>City: {{request.deliveryCity}}</label>
                                    <label *ngIf="request.ReceiverDistanceAndDuration">Distance (from Your Destination Address): {{request.ReceiverDistanceAndDuration.distance}}</label>
                                    <label *ngIf="request.ReceiverDistanceAndDuration">Time: {{request.ReceiverDistanceAndDuration.duration}}</label>
                                </div>
                            </div>
                        </div>
                        <div [hidden]="card_tab!==2">
                            <div class="panel panel-success">
                                <div class="panel-heading">Personal Details :</div>
                                <div class="panel-body">
                                    <label>Name: {{request.senderName}}</label>
                                    <label>Email: {{request.senderEmail}}</label>
                                    <label>Contact Number: {{request.senderPhone}}</label>
                                </div>
                            </div>
                            <div class="panel panel-success">
                                <div class="panel-heading">Sender Address :</div>
                                <div class="panel-body">
                                    <label>{{request.currentAddreddaddressLine1}} {{request.currentAddreddaddressLine2}}</label>
                                    <label>City: {{request.currentCity}}</label>
                                    <label *ngIf="request.SenderDistanceAndDuration">Distance (from Your Current Address): {{request.SenderDistanceAndDuration.distance}}</label>
                                    <label *ngIf="request.SenderDistanceAndDuration">Time: {{request.SenderDistanceAndDuration.duration}}</label>
                                </div>
                            </div>
                        </div>
                        <div [hidden]="card_tab!==3">
                            <div class="panel panel-success">
                                <div class="panel-heading">Personal Details :</div>
                                <div class="panel-body">
                                    <label>Name: {{request.receiverName}}</label>
                                    <label>Email: {{request.receiverEmail}}</label>
                                    <label>Contact Number: {{request.receiverPhone}}</label>
                                </div>
                            </div>
                            <div class="panel panel-success">
                                <div class="panel-heading">Receiver Address :</div>
                                <div class="panel-body">
                                    <label>{{request.deliveryAddreddaddressLine1}} {{request.deliveryAddreddaddressLine2}}</label>
                                    <label>City: {{request.deliveryCity}}</label>
                                    <label *ngIf="request.ReceiverDistanceAndDuration">Distance (from Your Destination Address): {{request.ReceiverDistanceAndDuration.distance}}</label>
                                    <label *ngIf="request.ReceiverDistanceAndDuration">Time: {{request.ReceiverDistanceAndDuration.duration}}</label>
                                </div>
                            </div>
                        </div>
                        <h4>{{mapAddress}}</h4>
                        <div id="{{request._id}}" style="height: 400px; width: 100%;"></div>
                        <button *ngIf = "request.status" [hidden] = "request.status !== 'Parcel Collected From Sender'" class="button-approve" (click)="onStatusChangeClick(request._id)">Change Status to Parcel Delivered To Receiver</button>
                    </div>
                </panel>
            </div>
        </ul>
        <pagination-controls  class="centerAlignText" (pageChange)="p2 = $event" #api>
        </pagination-controls>
    </div>

    <div [hidden]="showDetails" class="form-style-10">
        <div class = "alert alert-info">
            No Parcel Pending To Deliver.
        </div>
    </div>
</main>