<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body class ="bg-image" >
<div id="main">
    <h1>{{title}}</h1>
    <div style="background-color: white">
        <nav class = "home">
            <a class="sign-in" *ngIf="!loggedIn()" (click)="signin()">Sign In</a>
            <a class="sign-up" *ngIf="!loggedIn()" (click)="signup()">Sign Up</a>
            <a class="reset"*ngIf="!loggedIn()" (click)="resetPassword()">Reset Password</a>
        </nav>
    </div>
    <div *ngIf="!loggedIn()" class="simple-panel"></div>
    <nav class="navbar navbar-inverse" *ngIf="loggedIn()">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li ><a *ngIf="loggedIn()" (click)="selection='provider'" >Service Provider</a></li>
                    <li><a *ngIf="loggedIn()" (click)="selection='sender'" >Parcel Sender</a></li>
                    <li><a *ngIf="loggedIn()" (click)="selection='receiver'" >Parcel Receiver</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><img src="{{profile.picture}}" style="width: 50px" /></li>
                    <li><a>{{profile.name}}</a></li>
                    <li><a *ngIf="loggedIn()" (click)="logout()" >Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!--<div class="fullscreen-bg">-->
        <!--<video class="fullscreen-bg__video" width="100%" height="100%" loop muted autoplay>-->
            <!--<source src="./../assets/img/cityscape.mp4" type="video/mp4">-->
        <!--</video>-->
    <!--</div>-->
</div>
<!--<div id="mySidenav" class="sidenav">-->
    <!--<a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>-->

<!--</div>-->
<div *ngIf="selection == 'provider'" >
    <provider-sidebar [selection]="selection" (sidebarChange)="selectionChange($event);"></provider-sidebar>
</div>
<div *ngIf="selection == 'sender'">
    <sender-sidebar [selection]="selection" (sidebarChange)="selectionChange($event);"></sender-sidebar>
</div>
<div *ngIf="selection == 'receiver'">
    <receiver-sidebar [selection]="selection" (sidebarChange)="selectionChange($event);"></receiver-sidebar>
</div>
<router-outlet></router-outlet>
</body>
</html>