<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body class ="bg-image" >
<div id="main">
    <h1>{{title}}</h1>
    <nav class = "home">

        <a class="sign-in" *ngIf="!loggedIn()" (click)="signin()">Sign In</a>
        <a class="sign-up" *ngIf="!loggedIn()" (click)="signup()">Sign Up</a>
        <a class="reset"*ngIf="!loggedIn()" (click)="resetPassword()">Reset Password</a>
    </nav>
    <nav *ngIf="loggedIn()" class="signed-in">
        <button *ngIf="loggedIn()" (click)="selection='provider'; openNav()" class="button-section">Service Provider</button>
        <button *ngIf="loggedIn()" (click)="selection='sender'; openNav()" class="button-section">Parcel Sender</button>
        <button *ngIf="loggedIn()" (click)="selection='receiver'; openNav()" class="button-section">Parcel Receiver</button>
        <button *ngIf="loggedIn()" (click)="logout()" class="button-section">Logout</button>
        <label>{{profile.name}}</label>
        <img src="{{profile.picture}}" style="width: 50px" />
    </nav>
</div>
<div id="mySidenav" class="sidenav">
    <div *ngIf="selection == 'provider'">
        <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
        <a routerLink="/service-provider" routerLinkActive="active">New Service Proposal</a>
        <a (click)="toggleActionClicked()">Need Your Action</a>
        <ul [hidden]="!actionClicked">
            <li><a routerLink="/accept-parcel" routerLinkActive="active">Accept Parcel Request</a></li>
            <li><a routerLink="/parcel-receiving" routerLinkActive="active">Parcel Receiving Pending</a></li>
            <li><a routerLink="/parcel-delivery" routerLinkActive="active">Parcel Delivery Pending</a></li>
        </ul>
        <a routerLink="/all-service-requests" routerLinkActive="active">See All Service Proposal</a>

    </div>
    <div *ngIf="selection == 'sender'">
        <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
        <a routerLink="/parcel-sender" routerLinkActive="active">New Parcel Request</a>
        <a (click)="toggleActionClicked()">Need Your Action</a>
        <ul [hidden]="!actionClicked">
            <li><a routerLink="/accept-service" routerLinkActive="active">Accept Service Request</a></li>
            <li><a routerLink="/parcel-given" routerLinkActive="active">Parcel Given Pending</a></li>
        </ul>
        <a routerLink="/all-parcel-requests" routerLinkActive="active">See All Service Proposal</a>
    </div>
    <div *ngIf="selection == 'receiver'">
        <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
        <a href="#">Receiver</a>
    </div>
</div>
<router-outlet></router-outlet>
</body>
</html>