<main id="main">
    <div [hidden]="!showDetails">
        <ul *ngFor="let request of assignedServiceRequests | paginate: { itemsPerPage: 5, currentPage: p2 }"  >
            <div>
                <h3>
                    <panel [title]="request.serviceProvider.journeyDate + '-' +request.currentCity + '-' + request.deliveryCity"
                           (click)="mapLoadAssignedService(request._id, request.currentAddreddaddressLine1 + ' ' + request.currentAddreddaddressLine2 + ' ' + request.currentCity
                       + ' ' + request.currentState + ' ' + request.currentZip, request.serviceProvider.currentAddreddaddressLine1 + ' ' + request.serviceProvider.currentAddreddaddressLine2 + ' ' + request.serviceProvider.currentCity
                       + ' ' + request.serviceProvider.currentState + ' ' + request.serviceProvider.currentZip, request.deliveryAddreddaddressLine1 + ' ' + request.deliveryAddreddaddressLine2 + ' ' + request.deliveryCity
                       + ' ' + request.deliveryState + ' ' + request.deliveryZip, request.serviceProvider.destinationAddreddaddressLine1 + ' ' + request.serviceProvider.destinationAddreddaddressLine2 + ' ' + request.serviceProvider.destinationCity
                       + ' ' + request.serviceProvider.destinationState + ' ' + request.serviceProvider.destinationZip,  request.status)" >
                        <div class="form-style-10" >
                            <h3>Delivery Service Details:</h3>
                            <h4 >{{request.serviceProvider.journeyDate}}-{{request.currentCity}}-{{request.deliveryCity}}</h4>
                            <li>Journey Date:   <b>{{request.serviceProvider.journeyDate}}</b></li>
                            <h4>Parcel Details:</h4>
                            <li>Parcel Description : <b>{{request.parcelDisclosure}}</b></li>
                            <li>Parcel Weight Capacity :  <b>{{request.parcelWeight}}</b> pound</li>
                            <li>Parcel Height Dimension : <b>{{request.parcelHeight}}</b> cm.</li>
                            <li>Parcel length Dimension : <b>{{request.parcelLength}}</b> cm.</li>
                            <li>Parcel Width Dimension :  <b>{{request.parcelWidth}}</b> cm.</li>
                            <h4>Sender Details</h4>
                            <li>Sender Name : <b>{{request.senderName}}</b></li>
                            <li>Sender Email : <b>{{request.senderEmail}}</b></li>
                            <li>Sender Contact Number :   <b>{{request.senderPhone}}</b></li>
                            <li>Sender Address : <b>{{request.currentAddreddaddressLine1}}</b></li>
                            <li *ngIf = "request.currentAddreddaddressLine2"> <b>{{request.currentAddreddaddressLine2}}</b></li>
                            <li>City : <b>{{request.currentCity}}</b></li>
                            <h4>Receiver Details</h4>
                            <li>Receiver Name : <b>{{request.receiverName}}</b></li>
                            <li>Receiver Email : <b>{{request.receiverEmail}}</b></li>
                            <li>Receiver Contact Number :  <b>{{request.receiverPhone}}</b></li>
                            <li>Receiver Address : <b>{{request.deliveryAddreddaddressLine1}}</b></li>
                            <li *ngIf = "request.deliveryAddreddaddressLine2"> <b>{{request.deliveryAddreddaddressLine2}}</b></li>
                            <li>City : <b>{{request.deliveryCity}}</b></li>
                            <li *ngIf = "request.status" >Parcel Status :  <b>{{request.status}}</b></li>
                            <h4>{{mapAddress}}</h4>
                            <div id="{{request._id}}" class="map"></div>
                            <button *ngIf = "request.status" [hidden] = "request.status !== 'Pending Approval At Service Provider'" class="button-approve" (click)="onStatusChangeClick(request._id)">Approve</button>
                            <button *ngIf = "request.status" [hidden] = "request.status !== 'Pending Approval At Service Provider'" class="button-reject" (click)="onRejectClick(request._id, 'Service')">Reject</button>
                        </div>
                    </panel>
                </h3>
            </div>
        </ul>
        <pagination-controls  class="centerAlignText" (pageChange)="p2 = $event" #api>
        </pagination-controls>
    </div>

    <div [hidden]="showDetails" class="form-style-10"><h3>No Parcel Request To Accept </h3></div>
</main>