<div id="mySidenav" class="sidenav" [hidden]="!loggedIn()">
<div>
    <ul class="sidebar-nav">
        <li>
            <label >Service Provider</label>
            <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
        </li>
        <li>
            <a routerLink="/service-provider" routerLinkActive="active" (click)="filtersClicked = false">New Service Proposal</a>
        </li>
        <li class="dropdown">
            <a (click)="toggleActionClicked()" (click)="filtersClicked = false" class="dropdown-toggle" data-toggle="dropdown">Need Your Action <span class="caret"></span></a>
            <ul [hidden]="!actionClicked" class="dropdown-list">
                <li></li>
                <li><a routerLink="/accept-parcel" routerLinkActive="active" (click)="filtersClicked = false">Accept Parcel Request</a></li>
                <li><a routerLink="/parcel-receiving" routerLinkActive="active" (click)="filtersClicked = false">Parcel Receiving Pending</a></li>
                <li><a routerLink="/parcel-delivery" routerLinkActive="active" (click)="filtersClicked = false">Parcel Delivery Pending</a></li>
            </ul>
        </li>
        <li>
            <a routerLink="/all-service-requests" routerLinkActive="active" (click)="toggleFilter(); filtersClicked = false">See All Service Proposal</a>
        </li>
        <li>
            <div [hidden]="!requestsClicked">
                <a (click)="toggleFiltersClicked()">Filters <span class="caret"></span></a>
                <ul [hidden]="!filtersClicked" class="dropdown-list">
                    <li></li>
                    <li><a (click)="toggleJourneyDate()">Journey Date</a></li>
                    <ul [hidden]="!journeyDateClicked" *ngFor="let date of journeyDates" class="filter-checkbox">
                        <input type="checkbox" [(ngModel)]="date.checked" (ngModelChange)="updateResultsByDate(date)"> {{date.journeyDate}}<br>
                    </ul>
                    <li><a (click)="toggleCities()">Cities</a></li>
                    <ul [hidden]="!citiesClicked">
                        <li></li>
                        <li><a (click)="toggleCurrentCities()">Current Cities</a></li>
                        <ul [hidden]="!currentCitiesClicked" *ngFor="let city of currentCities" class="filter-checkbox">
                            <input type="checkbox" [(ngModel)]="city.checked" (ngModelChange)="updateResultsByCurrentCities(city)"> {{city.currentCity}}<br>
                        </ul>
                        <li><a (click)="toggleDestinationCities()">Destination Cities</a></li>
                        <ul [hidden]="!destinationCitiesClicked" *ngFor="let city of destinationCities" class="filter-checkbox">
                            <input type="checkbox" [(ngModel)]="city.checked" (ngModelChange)="updateResultsByDestinationCities(city)"> {{city.destinationCity}}<br>
                        </ul>
                    </ul>
                    <li><a (click)="toggleItemDescription()">Item Descriptions</a></li>
                    <ul [hidden]="!itemDescriptionClicked" *ngFor="let description of itemDescriptions" class="filter-checkbox">
                        <input type="checkbox" [(ngModel)]="description.checked" (ngModelChange)="updateResultsByItemDescription(description)"> {{description.parcelDisclosure}}<br>
                    </ul>
                    <li><a (click)="toggleStatus()">Status</a></li>
                    <ul [hidden]="!statusClicked" *ngFor="let status of parcelStatus" class="filter-checkbox">
                        <input type="checkbox" [(ngModel)]="status.checked" (ngModelChange)="updateResultsByParcelStatus(status)"> {{status.status}}<br>
                    </ul>
                    <!--<li><a>Journey Type</a></li>-->
                    <!--<li><a>Route</a></li>-->
                </ul>
            </div>
        </li>
    </ul>
</div>
</div>

<main [hidden]="!showAllRequestClicked || !filtersClicked" id="main" *ngIf="loggedIn()">
    <div [hidden]="!showDetails">
        <ul *ngFor="let request of filteredRequests | paginate: { itemsPerPage: 5, currentPage: p2 }"  >
            <div>
                    <panel [title]="request.req.serviceProvider.journeyDate + '-' +request.req.currentCity + '-' + request.req.deliveryCity"
                           (click)="mapLoadAssignedService(request.req._id + 'provider-sidebar', request.req.currentAddreddaddressLine1 + ' ' + request.req.currentAddreddaddressLine2 + ' ' + request.req.currentCity
                       + ' ' + request.req.currentState + ' ' + request.req.currentZip, request.req.serviceProvider.currentAddreddaddressLine1 + ' ' + request.req.serviceProvider.currentAddreddaddressLine2 + ' ' + request.req.serviceProvider.currentCity
                       + ' ' + request.req.serviceProvider.currentState + ' ' + request.req.serviceProvider.currentZip, request.req.deliveryAddreddaddressLine1 + ' ' + request.req.deliveryAddreddaddressLine2 + ' ' + request.req.deliveryCity
                       + ' ' + request.req.deliveryState + ' ' + request.req.deliveryZip, request.req.serviceProvider.destinationAddreddaddressLine1 + ' ' + request.req.serviceProvider.destinationAddreddaddressLine2 + ' ' + request.req.serviceProvider.destinationCity
                       + ' ' + request.req.serviceProvider.destinationState + ' ' + request.req.serviceProvider.destinationZip,  request.req.status)" >
                        <div class="form-style-10" >
                            <h3>Delivery Service Details:</h3>
                            <h4 >{{request.req.serviceProvider.journeyDate}}-{{request.req.currentCity}}-{{request.req.deliveryCity}}</h4>
                            <div class="card text-xs-center">
                                <div class="card-header">
                                    <ul class="nav nav-tabs card-header-tabs">
                                        <li class="nav-item">
                                            <a class="nav-link active" (click)="card_tab=1">Parcel Details</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" (click)="card_tab=2">Sender</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" (click)="card_tab=3">Receiver</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div [hidden]="card_tab!==1">
                                <div class="panel panel-success">
                                    <div class="panel-heading">Parcel Description :</div>
                                    <div class="panel-body"><label>{{request.req.parcelDisclosure}}</label></div>
                                </div>
                                <div class="panel panel-success">
                                    <div class="panel-heading">Parcel Dimensions :</div>
                                    <div class="panel-body">
                                        <label>Weight: {{request.req.parcelWeight}} pounds</label>
                                        <label>Height: {{request.req.parcelHeight}} cm.</label>
                                        <label>Length:{{request.req.parcelLength}} cm.</label>
                                        <label>Width: {{request.req.parcelWidth}} cm.</label>
                                    </div>
                                </div>
                                <div class="panel panel-success">
                                    <div class="panel-heading">Pick up location :</div>
                                    <div class="panel-body">
                                        <label>{{request.req.currentAddreddaddressLine1}} {{request.req.currentAddreddaddressLine2}}</label>
                                        <label>City: {{request.req.currentCity}}</label>
                                        <label *ngIf="request.req.SenderDistanceAndDuration">Distance (from Your Current Address): {{request.req.SenderDistanceAndDuration.distance}}</label>
                                        <label *ngIf="request.req.SenderDistanceAndDuration">Time: {{request.req.SenderDistanceAndDuration.duration}}</label>
                                    </div>
                                </div>
                                <div class="panel panel-success">
                                    <div class="panel-heading">Delivery location :</div>
                                    <div class="panel-body">
                                        <label>{{request.req.deliveryAddreddaddressLine1}} {{request.req.deliveryAddreddaddressLine2}}</label>
                                        <label>City: {{request.req.deliveryCity}}</label>
                                        <label *ngIf="request.req.ReceiverDistanceAndDuration">Distance (from Your Destination Address): {{request.req.ReceiverDistanceAndDuration.distance}}</label>
                                        <label *ngIf="request.req.ReceiverDistanceAndDuration">Time: {{request.req.ReceiverDistanceAndDuration.duration}}</label>
                                    </div>
                                </div>
                            </div>
                            <div [hidden]="card_tab!==2">
                                <div class="panel panel-success">
                                    <div class="panel-heading">Personal Details :</div>
                                    <div class="panel-body">
                                        <label>Name: {{request.req.senderName}}</label>
                                        <label>Email: {{request.req.senderEmail}}</label>
                                        <label>Contact Number: {{request.req.senderPhone}}</label>
                                    </div>
                                </div>
                                <div class="panel panel-success">
                                    <div class="panel-heading">Sender Address :</div>
                                    <div class="panel-body">
                                        <label>{{request.req.currentAddreddaddressLine1}} {{request.req.currentAddreddaddressLine2}}</label>
                                        <label>City: {{request.req.currentCity}}</label>
                                        <label *ngIf="request.req.SenderDistanceAndDuration">Distance (from Your Current Address): {{request.req.SenderDistanceAndDuration.distance}}</label>
                                        <label *ngIf="request.req.SenderDistanceAndDuration">Time: {{request.req.SenderDistanceAndDuration.duration}}</label>
                                    </div>
                                </div>
                            </div>
                            <div [hidden]="card_tab!==3">
                                <div class="panel panel-success">
                                    <div class="panel-heading">Personal Details :</div>
                                    <div class="panel-body">
                                        <label>Name: {{request.req.receiverName}}</label>
                                        <label>Email: {{request.req.receiverEmail}}</label>
                                        <label>Contact Number: {{request.req.receiverPhone}}</label>
                                    </div>
                                </div>
                                <div class="panel panel-success">
                                    <div class="panel-heading">Receiver Address :</div>
                                    <div class="panel-body">
                                        <label>{{request.req.deliveryAddreddaddressLine1}} {{request.req.deliveryAddreddaddressLine2}}</label>
                                        <label>City: {{request.req.deliveryCity}}</label>
                                        <label *ngIf="request.req.ReceiverDistanceAndDuration">Distance (from Your Destination Address): {{request.req.ReceiverDistanceAndDuration.distance}}</label>
                                        <label *ngIf="request.req.ReceiverDistanceAndDuration">Time: {{request.req.ReceiverDistanceAndDuration.duration}}</label>
                                    </div>
                                </div>
                            </div>
                            <h4>{{mapAddress}}</h4>
                            <div id="{{request.req._id}}provider-sidebar" style="height: 400px; width: 100%;"></div>
                            <button *ngIf = "request.req.status" [hidden] = "request.req.status !== 'Pending Approval At Service Provider'" class="button-approve" (click)="onStatusChangeClick(request.req._id)">Approve</button>
                            <button *ngIf = "request.req.status" [hidden] = "request.req.status !== 'Pending Approval At Service Provider'" class="button-reject" (click)="onRejectClick(request.req._id, 'Service')">Reject</button>
                        </div>
                    </panel>
            </div>
        </ul>
        <pagination-controls  class="centerAlignText" (pageChange)="p2 = $event" #api>
        </pagination-controls>
    </div>

    <div [hidden]="showDetails" class="form-style-10">
        <div class = "alert alert-info">
            No Service Proposal.
        </div>
    </div>
</main>
