<div id="mySidenav" class="sidenav" [hidden]="!loggedIn()">
<div>
    <ul class="sidebar-nav">
        <li>
            <a >Service Provider</a>
            <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
        </li>
        <li>
            <a routerLink="/service-provider" routerLinkActive="active" (click)="filtersClicked = false">New Service Proposal</a>
        </li>
        <li class="dropdown">
            <a (click)="toggleActionClicked()" (click)="filtersClicked = false" class="dropdown-toggle" data-toggle="dropdown">Need Your Action <span class="caret"></span></a>
            <ul [hidden]="!actionClicked" class="dropdown-list">
                <li></li>
                <li><a routerLink="/accept-parcel" routerLinkActive="active" (click)="filtersClicked = false">Accept Parcel Request</a></li>
                <li><a routerLink="/parcel-receiving" routerLinkActive="active" (click)="filtersClicked = false">Parcel Receiving Pending</a></li>
                <li><a routerLink="/parcel-delivery" routerLinkActive="active" (click)="filtersClicked = false">Parcel Delivery Pending</a></li>
            </ul>
        </li>
        <li>
            <a routerLink="/all-service-requests" routerLinkActive="active" (click)="toggleFilter(); filtersClicked = false">See All Service Proposal</a>
        </li>
        <li>
            <div [hidden]="!requestsClicked">
                <a (click)="toggleFiltersClicked()">Filters <span class="caret"></span></a>
                <ul [hidden]="!filtersClicked" class="dropdown-list">
                    <li></li>
                    <li><a (click)="toggleJourneyDate()">Journey Date</a></li>
                    <ul [hidden]="!journeyDateClicked" *ngFor="let date of journeyDates" class="filter-checkbox">
                        <input type="checkbox" [(ngModel)]="date.checked" (ngModelChange)="updateResultsByDate(date)"> {{date.journeyDate}}<br>
                    </ul>
                    <li><a (click)="toggleCities()">Cities</a></li>
                    <ul [hidden]="!citiesClicked">
                        <li></li>
                        <li><a (click)="toggleCurrentCities()">Current Cities</a></li>
                        <ul [hidden]="!currentCitiesClicked" *ngFor="let city of currentCities" class="filter-checkbox">
                            <input type="checkbox" [(ngModel)]="city.checked" (ngModelChange)="updateResultsByCurrentCities(city)"> {{city.currentCity}}<br>
                        </ul>
                        <li><a (click)="toggleDestinationCities()">Destination Cities</a></li>
                        <ul [hidden]="!destinationCitiesClicked" *ngFor="let city of destinationCities" class="filter-checkbox">
                            <input type="checkbox" [(ngModel)]="city.checked" (ngModelChange)="updateResultsByDestinationCities(city)"> {{city.destinationCity}}<br>
                        </ul>
                    </ul>
                    <li><a (click)="toggleItemDescription()">Item Descriptions</a></li>
                    <ul [hidden]="!itemDescriptionClicked" *ngFor="let description of itemDescriptions" class="filter-checkbox">
                        <input type="checkbox" [(ngModel)]="description.checked" (ngModelChange)="updateResultsByItemDescription(description)"> {{description.parcelDisclosure}}<br>
                    </ul>
                    <li><a (click)="toggleStatus()">Status</a></li>
                    <ul [hidden]="!statusClicked" *ngFor="let status of parcelStatus" class="filter-checkbox">
                        <input type="checkbox" [(ngModel)]="status.checked" (ngModelChange)="updateResultsByParcelStatus(status)"> {{status.status}}<br>
                    </ul>
                    <!--<li><a>Journey Type</a></li>-->
                    <!--<li><a>Route</a></li>-->
                </ul>
            </div>
        </li>
    </ul>
</div>
</div>

<main [hidden]="!showAllRequestClicked || !filtersClicked" id="main" *ngIf="loggedIn()">
    <div [hidden]="!showDetails">
        <ul *ngFor="let request of filteredRequests | paginate: { itemsPerPage: 5, currentPage: p2 }"  >
            <div>
                <h3>
                    <panel [title]="request.req.serviceProvider.journeyDate + '-' +request.req.currentCity + '-' + request.req.deliveryCity"
                           (click)="mapLoadAssignedService(request.req._id, request.req.currentAddreddaddressLine1 + ' ' + request.req.currentAddreddaddressLine2 + ' ' + request.req.currentCity
                       + ' ' + request.req.currentState + ' ' + request.req.currentZip, request.req.serviceProvider.currentAddreddaddressLine1 + ' ' + request.req.serviceProvider.currentAddreddaddressLine2 + ' ' + request.req.serviceProvider.currentCity
                       + ' ' + request.req.serviceProvider.currentState + ' ' + request.req.serviceProvider.currentZip, request.req.deliveryAddreddaddressLine1 + ' ' + request.req.deliveryAddreddaddressLine2 + ' ' + request.req.deliveryCity
                       + ' ' + request.req.deliveryState + ' ' + request.req.deliveryZip, request.req.serviceProvider.destinationAddreddaddressLine1 + ' ' + request.req.serviceProvider.destinationAddreddaddressLine2 + ' ' + request.req.serviceProvider.destinationCity
                       + ' ' + request.req.serviceProvider.destinationState + ' ' + request.req.serviceProvider.destinationZip,  request.req.status)" >
                        <div class="form-style-10" >
                            <h3>Delivery Service Details:</h3>
                            <h4 >{{request.req.serviceProvider.journeyDate}}-{{request.req.currentCity}}-{{request.req.deliveryCity}}</h4>
                            <li>Journey Date:   <b>{{request.req.serviceProvider.journeyDate}}</b></li>
                            <h4>Parcel Details:</h4>
                            <li>Parcel Description : <b>{{request.req.parcelDisclosure}}</b></li>
                            <li>Parcel Weight Capacity :  <b>{{request.req.parcelWeight}}</b> pound</li>
                            <li>Parcel Height Dimension : <b>{{request.req.parcelHeight}}</b> cm.</li>
                            <li>Parcel length Dimension : <b>{{request.req.parcelLength}}</b> cm.</li>
                            <li>Parcel Width Dimension :  <b>{{request.req.parcelWidth}}</b> cm.</li>
                            <h4>Sender Details</h4>
                            <li>Sender Name : <b>{{request.req.senderName}}</b></li>
                            <li>Sender Email : <b>{{request.req.senderEmail}}</b></li>
                            <li>Sender Contact Number :   <b>{{request.req.senderPhone}}</b></li>
                            <li>Sender Address : <b>{{request.req.currentAddreddaddressLine1}}</b></li>
                            <li *ngIf = "request.req.currentAddreddaddressLine2"> <b>{{request.req.currentAddreddaddressLine2}}</b></li>
                            <li>City : <b>{{request.req.currentCity}}</b></li>
                            <h4>Receiver Details</h4>
                            <li>Receiver Name : <b>{{request.req.receiverName}}</b></li>
                            <li>Receiver Email : <b>{{request.req.receiverEmail}}</b></li>
                            <li>Receiver Contact Number :  <b>{{request.req.receiverPhone}}</b></li>
                            <li>Receiver Address : <b>{{request.req.deliveryAddreddaddressLine1}}</b></li>
                            <li *ngIf = "request.req.deliveryAddreddaddressLine2"> <b>{{request.req.deliveryAddreddaddressLine2}}</b></li>
                            <li>City : <b>{{request.req.deliveryCity}}</b></li>
                            <li *ngIf = "request.req.status" >Parcel Status :  <b>{{request.req.status}}</b></li>
                            <h4>{{mapAddress}}</h4>
                            <div id="{{request._id}}" style="height: 50%; width: 100%;"></div>
                            <button *ngIf = "request.req.status" [hidden] = "request.req.status !== 'Pending Approval At Service Provider'" class="button-approve" (click)="onStatusChangeClick(request.req._id)">Approve</button>
                            <button *ngIf = "request.req.status" [hidden] = "request.req.status !== 'Pending Approval At Service Provider'" class="button-reject" (click)="onRejectClick(request.req._id, 'Service')">Reject</button>
                        </div>
                    </panel>
                </h3>
            </div>
        </ul>
        <pagination-controls  class="centerAlignText" (pageChange)="p2 = $event" #api>
        </pagination-controls>
    </div>

    <div [hidden]="showDetails" class="form-style-10"><h3>No Parcel Request To Accept </h3></div>
</main>
