<div id="mySidenav" class="sidenav" [hidden]="!loggedIn()">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>

    <div>
    <a routerLink="/parcel-sender" routerLinkActive="active" (click)="filtersClicked = false">New Parcel Request</a>
    <a (click)="toggleActionClicked()" (click)="filtersClicked = false">Need Your Action</a>
    <ul [hidden]="!actionClicked">
        <li><a routerLink="/accept-service" routerLinkActive="active" (click)="filtersClicked = false">Accept Service Request</a></li>
        <li><a routerLink="/parcel-given" routerLinkActive="active" (click)="filtersClicked = false">Parcel Given Pending</a></li>
    </ul>
    <a routerLink="/all-parcel-requests" routerLinkActive="active" (click)="toggleFilter(); filtersClicked = false;">See All Parcel Requests</a>
    </div>
<div [hidden]="!requestsClicked">
    <a (click)="toggleFiltersClicked()">Filters</a>
    <ul [hidden]="!filtersClicked">
        <li><a (click)="toggleDispatchDate()">Dispatch Date</a></li>
        <ul [hidden]="!dispatchDateClicked" *ngFor="let date of dispatchDates">
            <input type="checkbox" [(ngModel)]="date.checked" (ngModelChange)="updateResultsByDate(date)"> {{date.dispatchDate}}<br>
        </ul>
        <li><a (click)="toggleCities()">Cities</a></li>
        <ul [hidden]="!citiesClicked">
            <li><a (click)="toggleCurrentCities()">Current Cities</a></li>
            <ul [hidden]="!currentCitiesClicked" *ngFor="let city of currentCities">
                <input type="checkbox" [(ngModel)]="city.checked" (ngModelChange)="updateResultsByCurrentCities(city)"> {{city.currentCity}}<br>
            </ul>
            <li><a (click)="toggleDeliveryCities()">Delivery Cities</a></li>
            <ul [hidden]="!deliveryCitiesClicked" *ngFor="let city of deliveryCities">
                <input type="checkbox" [(ngModel)]="city.checked" (ngModelChange)="updateResultsByDeliveryCities(city)"> {{city.deliveryCity}}<br>
            </ul>
        </ul>
        <li><a (click)="toggleItemDescription()">Item Descriptions</a></li>
        <ul [hidden]="!itemDescriptionClicked" *ngFor="let description of itemDescriptions">
            <input type="checkbox" [(ngModel)]="description.checked" (ngModelChange)="updateResultsByItemDescription(description)"> {{description.parcelDisclosure}}<br>
        </ul>
        <li><a (click)="toggleStatus()">Status</a></li>
        <ul [hidden]="!statusClicked" *ngFor="let status of parcelStatus">
            <input type="checkbox" [(ngModel)]="status.checked" (ngModelChange)="updateResultsByParcelStatus(status)"> {{status.status}}<br>
        </ul>
        <!--<li><a>Journey Type</a></li>-->
        <!--<li><a>Route</a></li>-->
    </ul>
</div>
</div>

<main [hidden]="!showAllRequestClicked || !filtersClicked" id="main" *ngIf="loggedIn()">
    <div [hidden]="!showDetails">
        <ul *ngFor="let request of filteredRequests | paginate: { itemsPerPage: 5, currentPage: p3 }" >
            <h3 >
                <panel [title]="request.req.serviceProvider.journeyDate + '-' +request.req.currentCity + '-' + request.req.deliveryCity"
                       (click)="mapLoadAssignedParcel(request.req._id, request.req.currentAddreddaddressLine1 + ' ' + request.req.currentAddreddaddressLine2 + ' ' + request.req.currentCity
                       + ' ' + request.req.currentState + ' ' + request.req.currentZip, request.req.serviceProvider.currentAddreddaddressLine1 + ' ' + request.req.serviceProvider.currentAddreddaddressLine2 + ' ' + request.req.serviceProvider.currentCity
                       + ' ' + request.req.serviceProvider.currentState + ' ' + request.req.serviceProvider.currentZip, request.req.deliveryAddreddaddressLine1 + ' ' + request.req.deliveryAddreddaddressLine2 + ' ' + request.req.deliveryCity
                       + ' ' + request.req.deliveryState + ' ' + request.req.deliveryZip, request.req.serviceProvider.destinationAddreddaddressLine1 + ' ' + request.req.serviceProvider.destinationAddreddaddressLine2 + ' ' + request.req.serviceProvider.destinationCity
                       + ' ' + request.req.serviceProvider.destinationState + ' ' + request.req.serviceProvider.destinationZip,  request.req.status)">
                    <div class="form-style-10" >
                        <h3>Delivery Service Details:</h3>
                        <h4 >{{request.req.serviceProvider.journeyDate}}-{{request.req.currentCity}}-{{request.req.deliveryCity}}</h4>
                        <div class="card text-xs-center">
                            <div class="card-header">
                                <ul class="nav nav-tabs card-header-tabs">
                                    <li class="nav-item">
                                        <a class="nav-link active" (click)="card_tab=1">Parcel Details</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" (click)="card_tab=2">Sender</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" (click)="card_tab=3">Receiver</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div [hidden]="card_tab!==1">
                            <div class="panel panel-success">
                                <div class="panel-heading">Parcel Description :</div>
                                <div class="panel-body"><label>{{request.req.parcelDisclosure}}</label></div>
                            </div>
                            <div class="panel panel-success">
                                <div class="panel-heading">Parcel Dimensions :</div>
                                <div class="panel-body">
                                    <label>Weight: {{request.req.parcelWeight}} pounds</label>
                                    <label>Height: {{request.req.parcelHeight}} cm.</label>
                                    <label>Length:{{request.req.parcelLength}} cm.</label>
                                    <label>Width: {{request.req.parcelWidth}} cm.</label>
                                </div>
                            </div>
                            <div class="panel panel-success">
                                <div class="panel-heading">Pick up location :</div>
                                <div class="panel-body">
                                    <label>{{request.req.currentAddreddaddressLine1}} {{request.req.currentAddreddaddressLine2}}</label>
                                    <label>City: {{request.req.currentCity}}</label>
                                    <label *ngIf="request.req.SenderDistanceAndDuration">Distance (from Your Current Address): {{request.req.SenderDistanceAndDuration.distance}}</label>
                                    <label *ngIf="request.req.SenderDistanceAndDuration">Time: {{request.req.SenderDistanceAndDuration.duration}}</label>
                                </div>
                            </div>
                            <div class="panel panel-success">
                                <div class="panel-heading">Delivery location :</div>
                                <div class="panel-body">
                                    <label>{{request.req.deliveryAddreddaddressLine1}} {{request.req.deliveryAddreddaddressLine2}}</label>
                                    <label>City: {{request.req.deliveryCity}}</label>
                                    <label *ngIf="request.req.ReceiverDistanceAndDuration">Distance (from Your Destination Address): {{request.req.ReceiverDistanceAndDuration.distance}}</label>
                                    <label *ngIf="request.req.ReceiverDistanceAndDuration">Time: {{request.req.ReceiverDistanceAndDuration.duration}}</label>
                                </div>
                            </div>
                        </div>
                        <div [hidden]="card_tab!==2">
                            <div class="panel panel-success">
                                <div class="panel-heading">Personal Details :</div>
                                <div class="panel-body">
                                    <label>Name: {{request.req.senderName}}</label>
                                    <label>Email: {{request.req.senderEmail}}</label>
                                    <label>Contact Number: {{request.req.senderPhone}}</label>
                                </div>
                            </div>
                            <div class="panel panel-success">
                                <div class="panel-heading">Sender Address :</div>
                                <div class="panel-body">
                                    <label>{{request.req.currentAddreddaddressLine1}} {{request.req.currentAddreddaddressLine2}}</label>
                                    <label>City: {{request.req.currentCity}}</label>
                                    <label *ngIf="request.req.SenderDistanceAndDuration">Distance (from Your Current Address): {{request.req.SenderDistanceAndDuration.distance}}</label>
                                    <label *ngIf="request.req.SenderDistanceAndDuration">Time: {{request.req.SenderDistanceAndDuration.duration}}</label>
                                </div>
                            </div>
                        </div>
                        <div [hidden]="card_tab!==3">
                            <div class="panel panel-success">
                                <div class="panel-heading">Personal Details :</div>
                                <div class="panel-body">
                                    <label>Name: {{request.req.receiverName}}</label>
                                    <label>Email: {{request.req.receiverEmail}}</label>
                                    <label>Contact Number: {{request.req.receiverPhone}}</label>
                                </div>
                            </div>
                            <div class="panel panel-success">
                                <div class="panel-heading">Receiver Address :</div>
                                <div class="panel-body">
                                    <label>{{request.req.deliveryAddreddaddressLine1}} {{request.req.deliveryAddreddaddressLine2}}</label>
                                    <label>City: {{request.req.deliveryCity}}</label>
                                    <label *ngIf="request.req.ReceiverDistanceAndDuration">Distance (from Your Destination Address): {{request.req.ReceiverDistanceAndDuration.distance}}</label>
                                    <label *ngIf="request.req.ReceiverDistanceAndDuration">Time: {{request.req.ReceiverDistanceAndDuration.duration}}</label>
                                </div>
                            </div>
                        </div>
                        <h4>{{mapAddress}}</h4>
                        <div id="{{request.req._id}}" style="height: 400px; width: 100%;"></div>
                        <button *ngIf = "request.req.status" [hidden] = "request.req.status !== 'Pending Approval At Service Provider'" class="button-approve" (click)="onStatusChangeClick(request.req._id)">Approve</button>
                        <button *ngIf = "request.req.status" [hidden] = "request.req.status !== 'Pending Approval At Service Provider'" class="button-reject" (click)="onRejectClick(request.req._id, 'Service')">Reject</button>
                    </div>
                </panel>
                <panel *ngIf = "!request.req.status" [title]="request.req.currentCity + '-' + request.req.deliveryCity">
                    <div class="form-style-10">
                        <h3>Parcel Sending Details:</h3>
                        <h4 >{{request.req.currentCity}}-{{request.req.deliveryCity}}</h4>
                        <li>Receiver Name : <b>{{request.req.receiverName}}</b></li>
                        <li>Parcel Details : <b>{{request.req.parcelDisclosure}}</b></li>
                        <li>Delivery City : <b>{{request.req.deliveryCity}}</b></li>
                        <h4>Parcel Details:</h4>
                        <li>Parcel Id : <b>{{request.req._id}}</b></li>
                        <li>Parcel Weight Capacity :  <b>{{request.req.parcelWeight}}</b> pound</li>
                        <li>Parcel Height Dimension : <b>{{request.req.parcelHeight}}</b> cm.</li>
                        <li>Parcel length Dimension : <b>{{request.req.parcelLength}}</b> cm.</li>
                        <li>Parcel Width Dimension :  <b>{{request.req.parcelWidth}}</b> cm.</li>
                        <li *ngIf = "request.req.status" >Parcel Status :  <b>{{request.req.status}}</b></li>
                        <button class="button-cancel" (click)="onCancelClick(request.req._id, 'Parcel')">Cancel</button>
                        <button class="button-update" (click)="onUpdateClick(request.req._id, 'Parcel')">Update</button>
                    </div>
                </panel>
            </h3>
        </ul>
        <pagination-controls class="centerAlignText" (pageChange)="p3 = $event" #api>
        </pagination-controls>
    </div>
    <div [hidden]="showDetails" class="form-style-10"><h3>No Parcel Requests</h3></div>
</main>