<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Service Provider</title>
</head>
<body>
<div *ngIf="loggedIn()" [hidden] = "!isLoading" class="loader">Loading...</div>
<div *ngIf="loggedIn()" [hidden]="submitted || isLoading || parcelOrderSelected">
    <div class="container">
        <div class="stepwizard col-md-offset-3 ">
            <div class="stepwizard-row setup-panel">
                <div class="stepwizard-step">
                    <a (click)="segment=1" type="button" [class]="class1" >1</a>
                    <p style="background-color: white">General Information</p>
                </div>
                <div class="stepwizard-step">
                    <a (click)="segment=2; class2='btn btn-primary btn-circle'" type="button" [class]="class2" >2</a>
                    <p style="background-color: white">Current Address</p>
                </div>
                <div class="stepwizard-step">
                    <a (click)="segment=3; class3='btn btn-primary btn-circle'" type="button" [class]="class3" >3</a>
                    <p style="background-color: white">Intermediate Stops</p>
                </div>
                <div class="stepwizard-step">
                    <a (click)="segment=4; class4='btn btn-primary btn-circle'" type="button" [class]="class4" >4</a>
                    <p style="background-color: white">Destination Address</p>
                </div>
                <div class="stepwizard-step">
                    <a (click)="segment=5; class5='btn btn-primary btn-circle'" type="button" [class]="class5" >5</a>
                    <p style="background-color: white">Date &amp; Time</p>
                </div>
                <div class="stepwizard-step">
                    <a (click)="segment=6; class6='btn btn-primary btn-circle'" type="button" [class]="class6" >6</a>
                    <p style="background-color: white">Parcel Carrying Capacity</p>
                </div>
            </div>
        </div>
        <div class="form-style-10 inline">
            <h1>Details Needed<span>Please provide the following details to offer parcel service!</span></h1>
            <form (ngSubmit) = "onSubmit()" #serviceProviderDetailsForm="ngForm">
                <div [hidden]="segment !== 1">
                    <div class="section"><span>{{segment}}</span>General Information</div>
                    <div class="inner-wrap">
                        <label>Your Full Name <input type="text" placeholder="Name" [(ngModel)]="model.name" required ngControl="name" [ngModelOptions]="{standalone: true}"/>
                        </label>
                        <label>Phone Number <input type="text" placeholder="(123)-456-7890" [(ngModel)]="model.phone" required [ngModelOptions]="{standalone: true}"/></label>
                    </div>
                    <button type="button" class="btn btn-primary pull-right" (click)="segment=2; class2='btn btn-primary btn-circle'">Next</button>
                </div>
                <div [hidden]="segment !== 2">
                    <div class="section"><span>{{segment}}</span>Enter Current Address</div>
                    <form (ngSubmit) = "geolocate('Current Address')" #currentAddress="ngForm">
                        <div>
                            <input id="currentaddressautocomplete"  placeholder="Enter your address" type="text">
                        </div>
                        <div *ngIf="loggedIn()" [hidden] = "!isCurrentAddressLoading" class="loader">Loading...</div>
                        <div *ngIf = "model.currentCity" class="inner-wrap" >
                            <label>Address line 1 <input type="text" [(ngModel)]="model.currentAddreddaddressLine1" [ngModelOptions]="{standalone: true}"></label>
                            <label>Address line 2 <input type="text" [(ngModel)]="model.currentAddreddaddressLine2" [ngModelOptions]="{standalone: true}"></label>
                            <label>State <input type="text" [(ngModel)]="model.currentState" required [ngModelOptions]="{standalone: true}"></label>
                            <label>City <input type = "text" [(ngModel)]="model.currentCity" required [ngModelOptions]="{standalone: true}"></label>
                            <label>Zip <input type="number" placeholder="12345" [(ngModel)]="model.currentZip" [ngModelOptions]="{standalone: true}"></label>
                        </div>
                        <input [hidden] = "true" type="submit" [disabled]="!currentAddress.form.valid"/>
                    </form>
                    <button type="button" class="btn btn-primary pull-left" (click)="segment=1; class2='btn btn-default btn-circle'">Previous</button>
                    <button type="button" class="btn btn-primary pull-right" (click)="segment=3; class3='btn btn-primary btn-circle'">Next</button>
                </div>

                <div [hidden]="segment !== 3">
                    <div  class="section"><span>{{segment}}</span>Enter Intermediate Stops</div>

                    <form >
                        <div>
                            <input id="itinerarycitytodestinationautocomplete" [(ngModel)]="searchAddress" placeholder="Add Intermediate City to Destination" type="text" [ngModelOptions]="{standalone: true}">
                        </div>
                        <div>
                            <label>Parcel Pickup Date<input type="date" placeholder="YYYY-MM-DD" [(ngModel)]="itineraryToDestination.pickupDate" (change)="addItineraryToDestination()"  #date [ngModelOptions]="{standalone: true}"/></label>
                        </div>
                        <div *ngIf = "model.itineraryCitiesToDestination && model.itineraryCitiesToDestination.length" class="inner-wrap">
                            <h4>Intermediate Stops to Destination</h4>
                            <div class="row">
                                <div >
                                    <div class="panel panel-success">
                                        <div class="panel-heading">
                                            Drag and drop to change the order
                                        </div>
                                        <div class="panel-body">
                                            <ol class="list-group" dnd-sortable-container [sortableData]="model.itineraryCitiesToDestination">
                                                <li *ngFor="let city of model.itineraryCitiesToDestination; let i = index; " class="list-group-item" dnd-sortable [sortableIndex]="i">{{city.city}}, {{city.state}}  {{city.pickupDate}} <span id="i" (click)="deleteCity(i)" class="deleteCross"> x </span></li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div>
                    <span class="privacy-policy">
                    <input type="checkbox" name="field7" [(ngModel)]="nearByCities"><b > Do you want to look for near by Cities also?</b>
                    </span>
                    </div>
                    <div *ngIf="nearByCities" class="inner-wrap">
                        <label >Enter Radius<input type="number" [(ngModel)]="radius" placeholder="Radius of the near by cities in miles" (ngModelChange)="onRadiusChange(radius)" [ngModelOptions]="{standalone: true}"></label>
                        <br>
                    </div>
                    <button type="button" class="btn btn-primary pull-left" (click)="segment=2; class3='btn btn-default btn-circle'">Previous</button>
                    <button type="button" class="btn btn-primary pull-right" (click)="segment=4; class4='btn btn-primary btn-circle'">Next</button>
                </div>

                <div [hidden]="segment !== 4">
                    <div class="section"><span>{{segment}}</span>Enter Destination Address</div>

                    <form (ngSubmit) = "geolocate('Destination Address')" #destinationAddress="ngForm">
                        <div>
                            <input id="destinationaddressautocomplete"  placeholder="Enter your address" type="text">
                        </div>
                        <div *ngIf="loggedIn()" [hidden] = "!isDestinationAddressLoading" class="loader">Loading...</div>
                        <div  *ngIf = "model.destinationCity" class="inner-wrap">
                            <label>Address line 1 <input type="text" [(ngModel)]="model.destinationAddreddaddressLine1" [ngModelOptions]="{standalone: true}"></label>
                            <label>Address line 2 <input type="text" [(ngModel)]="model.destinationAddreddaddressLine2" [ngModelOptions]="{standalone: true}"></label>
                            <label>State <input type="text" [(ngModel)]="model.destinationState" required [ngModelOptions]="{standalone: true}"></label>
                            <label>City <input type = "text" [(ngModel)]="model.destinationCity" required [ngModelOptions]="{standalone: true}"></label>
                            <label>Zip <input type="number" placeholder="12345" [(ngModel)]="model.destinationZip" [ngModelOptions]="{standalone: true}"></label>
                        </div>
                        <input [hidden] = "true" type="submit" [disabled]="!destinationAddress.form.valid"/>
                    </form>
                    <button type="button" class="btn btn-primary pull-left" (click)="segment=3; class4='btn btn-default btn-circle'">Previous</button>
                    <button type="button" class="btn btn-primary pull-right" (click)="segment=5; class5='btn btn-primary btn-circle'">Next</button>
                </div>

                <div [hidden]="segment !== 5">
                    <div class="section"><span>{{segment}}</span>Date &amp; Time</div>
                    <div class="inner-wrap">
                        <label>Journey Date <input type="date" placeholder="YYYY-MM-DD" [(ngModel)]="model.journeyDate" required [ngModelOptions]="{standalone: true}"/></label>
                        <label>Availability Time</label>
                        <label>From  <input type="time" name="time" placeholder="Hrs:Mins" [(ngModel)]="model.availabilityFrom" required [ngModelOptions]="{standalone: true}"/></label>
                        <label>To  <input type="time" name="time"  placeholder="Hrs:Mins" [(ngModel)]="model.availabilityTo" required [ngModelOptions]="{standalone: true}"/></label>
                    </div>
                    <button type="button" class="btn btn-primary pull-left" (click)="segment=4; class5='btn btn-default btn-circle'">Previous</button>
                    <button type="button" class="btn btn-primary pull-right" (click)="segment=6; class6='btn btn-primary btn-circle'">Next</button>
                </div>

                <div [hidden]="segment !== 6">
                    <div class="section"><span>{{segment}}</span>Parcel Carrying Capacity</div>
                    <div class="inner-wrap">
                        <label>Max. Parcel Weight <input type="number" placeholder="in pound" [(ngModel)]="model.maxParcelWeight" required [ngModelOptions]="{standalone: true}"></label>
                        <label>Max Parcel Dimensions </label>
                        <label>Height (approx.) <input type="number" placeholder="in cm" [(ngModel)]="model.maxParcelHeight" required [ngModelOptions]="{standalone: true}"></label>
                        <label>Length (approx.) <input type="number" placeholder="in cm" [(ngModel)]="model.maxParcelLength" required [ngModelOptions]="{standalone: true}"></label>
                        <label>Width (approx.) <input type="number"  placeholder="in cm" [(ngModel)]="model.maxParcelWidth" required [ngModelOptions]="{standalone: true}"></label>
                    </div>

                    <div class="submit-button pull-right">
                        <input type="submit" name="Submit"/>
                    </div>
                    <button type="button" class="btn btn-primary pull-left" (click)="segment=5; class6='btn btn-default btn-circle'">Previous</button>
                </div>

                <!--<input [(ngModel)] = "returnTrip" type="checkbox" name="field7" [ngModelOptions]="{standalone: true}"><b>Look parcel request for return trip.</b>-->


                <!--<div [hidden]="!returnTrip" class="section"><span>5</span>Enter Itinerary Cities to Current</div>-->

                <!--<form [hidden]="!returnTrip">-->
                <!--<div>-->
                <!--<input id="itinerarycitytocurrentautocomplete" [(ngModel)]="searchAddress"  placeholder="Add City in Return Itinerary" type="text" [ngModelOptions]="{standalone: true}">-->
                <!--</div>-->
                <!--<div>-->
                <!--<label>Parcel Pickup Date <input type="date" placeholder="YYYY-MM-DD" [(ngModel)]="itineraryToCurrent.pickupDate" (change)="addItineraryToCurrent()"  #date [ngModelOptions]="{standalone: true}"/></label>-->
                <!--</div>-->
                <!--<div *ngIf = "model.itineraryCitiesToCurrent">-->
                <!--<h4>Travel Itinerary to Return Trip</h4>-->
                <!--<ul *ngFor="let city of model.itineraryCitiesToCurrent">-->
                <!--<li >{{city.city}}, {{city.state}} - {{city.pickupDate}}</li>-->
                <!--</ul>-->
                <!--</div>-->
                <!--</form>-->
            </form>
        </div>
        <div class="inline" *ngIf="model.currentCity" id="map-div"><div id="map"></div></div>
    </div>
    </div>
<div  *ngIf="loggedIn()" class="form-style-10" [hidden]="!submitted || isLoading || parcelOrderSelected">
    <div *ngIf="requests" [hidden]="!showDetails">
        <h1>Found Matches</h1>
        <h2>Please select the parcel order</h2>
        <ul *ngFor="let request of requests " class="form-style-10-assign">
            <h3>Request Details:</h3>
            <div class="card text-xs-center">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" (click)="card_tab=1">Parcel Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="card_tab=2">Sender</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="card_tab=3">Receiver</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div [hidden]="card_tab!==1">
                <div class="panel panel-success">
                    <div class="panel-heading">Parcel Description :</div>
                    <div class="panel-body"><label>{{request.parcelDisclosure}}</label></div>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading">Parcel Dimensions :</div>
                    <div class="panel-body">
                        <label>Weight: {{request.parcelWeight}} pounds</label>
                        <label>Height: {{request.parcelHeight}} cm.</label>
                        <label>Length:{{request.parcelLength}} cm.</label>
                        <label>Width: {{request.parcelWidth}} cm.</label>
                    </div>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading">Pick up location :</div>
                    <div class="panel-body">
                        <label>{{request.currentAddreddaddressLine1}} {{request.currentAddreddaddressLine2}}</label>
                        <label>City: {{request.currentCity}}</label>
                        <label *ngIf="request.SenderDistanceAndDuration">Distance (from Your Current Address): {{request.SenderDistanceAndDuration.distance}}</label>
                        <label *ngIf="request.SenderDistanceAndDuration">Time: {{request.SenderDistanceAndDuration.duration}}</label>
                    </div>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading">Delivery location :</div>
                    <div class="panel-body">
                        <label>{{request.deliveryAddreddaddressLine1}} {{request.deliveryAddreddaddressLine2}}</label>
                        <label>City: {{request.deliveryCity}}</label>
                        <label *ngIf="request.ReceiverDistanceAndDuration">Distance (from Your Destination Address): {{request.ReceiverDistanceAndDuration.distance}}</label>
                        <label *ngIf="request.ReceiverDistanceAndDuration">Time: {{request.ReceiverDistanceAndDuration.duration}}</label>
                    </div>
                </div>
            </div>
            <div [hidden]="card_tab!==2">
                <div class="panel panel-success">
                    <div class="panel-heading">Personal Details :</div>
                    <div class="panel-body">
                        <label>Name: {{request.senderName}}</label>
                        <label>Email: {{request.senderEmail}}</label>
                        <label>Contact Number: {{request.senderPhone}}</label>
                    </div>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading">Sender Address :</div>
                    <div class="panel-body">
                        <label>{{request.currentAddreddaddressLine1}} {{request.currentAddreddaddressLine2}}</label>
                        <label>City: {{request.currentCity}}</label>
                        <label *ngIf="request.SenderDistanceAndDuration">Distance (from Your Current Address): {{request.SenderDistanceAndDuration.distance}}</label>
                        <label *ngIf="request.SenderDistanceAndDuration">Time: {{request.SenderDistanceAndDuration.duration}}</label>
                    </div>
                </div>
            </div>
            <div [hidden]="card_tab!==3">
                <div class="panel panel-success">
                    <div class="panel-heading">Personal Details :</div>
                    <div class="panel-body">
                        <label>Name: {{request.receiverName}}</label>
                        <label>Email: {{request.receiverEmail}}</label>
                        <label>Contact Number: {{request.receiverPhone}}</label>
                    </div>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading">Receiver Address :</div>
                    <div class="panel-body">
                        <label>{{request.deliveryAddreddaddressLine1}} {{request.deliveryAddreddaddressLine2}}</label>
                        <label>City: {{request.deliveryCity}}</label>
                        <label *ngIf="request.ReceiverDistanceAndDuration">Distance (from Your Destination Address): {{request.ReceiverDistanceAndDuration.distance}}</label>
                        <label *ngIf="request.ReceiverDistanceAndDuration">Time: {{request.ReceiverDistanceAndDuration.duration}}</label>
                    </div>
                </div>
            </div>
            <button class="resubmit-button" (click)="selectParcel(request)">Select</button>
        </ul>
    </div>
    <div *ngIf="requests" [hidden]="showDetails">
        <h3>Service providing request submitted and No Suitable Parcel Order Match Found</h3>
        <h2>Be patience, a parcel sender may request you.</h2>
        <button class="resubmit-button" (click)="initializeFlag()">Submit Another Proposal</button>
    </div>
</div>

<div  *ngIf="loggedIn()" class="form-style-10" [hidden]="!parcelOrderSelected || !submitted || isLoading">
    <h1>Selected Request</h1>
    <h2>You have selected the following parcel request</h2>
    <div *ngIf="requests" >
            <ul *ngFor="let request of requests " class="form-style-10-assign">
                <h3>Request Details:</h3>
                <div class="card text-xs-center">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" (click)="card_tab=1">Parcel Details</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" (click)="card_tab=2">Sender</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" (click)="card_tab=3">Receiver</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div [hidden]="card_tab!==1">
                    <div class="panel panel-success">
                        <div class="panel-heading">Parcel Description :</div>
                        <div class="panel-body"><label>{{request.parcelDisclosure}}</label></div>
                    </div>
                    <div class="panel panel-success">
                        <div class="panel-heading">Parcel Dimensions :</div>
                        <div class="panel-body">
                            <label>Weight: {{request.parcelWeight}} pounds</label>
                            <label>Height: {{request.parcelHeight}} cm.</label>
                            <label>Length:{{request.parcelLength}} cm.</label>
                            <label>Width: {{request.parcelWidth}} cm.</label>
                        </div>
                    </div>
                    <div class="panel panel-success">
                        <div class="panel-heading">Pick up location :</div>
                        <div class="panel-body">
                            <label>{{request.currentAddreddaddressLine1}} {{request.currentAddreddaddressLine2}}</label>
                            <label>City: {{request.currentCity}}</label>
                            <label *ngIf="request.SenderDistanceAndDuration">Distance (from Your Current Address): {{request.SenderDistanceAndDuration.distance}}</label>
                            <label *ngIf="request.SenderDistanceAndDuration">Time: {{request.SenderDistanceAndDuration.duration}}</label>
                        </div>
                    </div>
                    <div class="panel panel-success">
                        <div class="panel-heading">Delivery location :</div>
                        <div class="panel-body">
                            <label>{{request.deliveryAddreddaddressLine1}} {{request.deliveryAddreddaddressLine2}}</label>
                            <label>City: {{request.deliveryCity}}</label>
                            <label *ngIf="request.ReceiverDistanceAndDuration">Distance (from Your Destination Address): {{request.ReceiverDistanceAndDuration.distance}}</label>
                            <label *ngIf="request.ReceiverDistanceAndDuration">Time: {{request.ReceiverDistanceAndDuration.duration}}</label>
                        </div>
                    </div>
                </div>
                <div [hidden]="card_tab!==2">
                    <div class="panel panel-success">
                        <div class="panel-heading">Personal Details :</div>
                        <div class="panel-body">
                            <label>Name: {{request.senderName}}</label>
                            <label>Email: {{request.senderEmail}}</label>
                            <label>Contact Number: {{request.senderPhone}}</label>
                        </div>
                    </div>
                    <div class="panel panel-success">
                        <div class="panel-heading">Sender Address :</div>
                        <div class="panel-body">
                            <label>{{request.currentAddreddaddressLine1}} {{request.currentAddreddaddressLine2}}</label>
                            <label>City: {{request.currentCity}}</label>
                            <label *ngIf="request.SenderDistanceAndDuration">Distance (from Your Current Address): {{request.SenderDistanceAndDuration.distance}}</label>
                            <label *ngIf="request.SenderDistanceAndDuration">Time: {{request.SenderDistanceAndDuration.duration}}</label>
                        </div>
                    </div>
                </div>
                <div [hidden]="card_tab!==3">
                    <div class="panel panel-success">
                        <div class="panel-heading">Personal Details :</div>
                        <div class="panel-body">
                            <label>Name: {{request.receiverName}}</label>
                            <label>Email: {{request.receiverEmail}}</label>
                            <label>Contact Number: {{request.receiverPhone}}</label>
                        </div>
                    </div>
                    <div class="panel panel-success">
                        <div class="panel-heading">Receiver Address :</div>
                        <div class="panel-body">
                            <label>{{request.deliveryAddreddaddressLine1}} {{request.deliveryAddreddaddressLine2}}</label>
                            <label>City: {{request.deliveryCity}}</label>
                            <label *ngIf="request.ReceiverDistanceAndDuration">Distance (from Your Destination Address): {{request.ReceiverDistanceAndDuration.distance}}</label>
                            <label *ngIf="request.ReceiverDistanceAndDuration">Time: {{request.ReceiverDistanceAndDuration.duration}}</label>
                        </div>
                    </div>
                </div>
                <button class="resubmit-button" (click)="initializeFlag()">Submit Another Proposal</button>
            </ul>
    </div>
</div>
</body>
</html>